In [104]:
import pandas as pd
import numpy as np

In [194]:
upper_filename = "./dataset/WT+209+243_solvent(M+E)_01_05_2023 -  Melt Curve Derivative Results_SYBR.csv"
bottom_filename = "./dataset/WT+209+243_solvent-DMSO-control_01_05_2023 -  Melt Curve Derivative Results_SYBR.csv"

u_df = pd.read_csv(upper_filename)
u_df = u_df.drop(columns = ['Unnamed: 0'])

b_df = pd.read_csv(bottom_filename)
b_df = b_df.drop(columns = ['Unnamed: 0'])

rename_list = ['A','B','C','D','E']
rename_dict = {'A':'I', 'B':'J', 'C':'K', 'D':'L', 'E':'M'}

for name in b_df.columns:
    if name == 'Temperature':
        pass
    elif name[0] in rename_list:
        b_df.rename(columns = {name: rename_dict[name[0]] + name[1:]}, inplace = True)
    else:
        b_df = b_df.drop(columns = [name])

In [195]:
b_df.columns

Index(['Temperature', 'I1', 'I2', 'I3', 'I4', 'I5', 'I6', 'I7', 'I8', 'I9',
       'I10', 'I11', 'I12', 'J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8',
       'J9', 'J10', 'J11', 'J12', 'K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'K7',
       'K8', 'K9', 'K10', 'K11', 'K12', 'L1', 'L2', 'L3', 'L4', 'L5', 'L6',
       'L7', 'L8', 'L9', 'L10', 'L11', 'L12', 'M1', 'M2', 'M3', 'M4', 'M5',
       'M6', 'M7', 'M8', 'M9', 'M10', 'M11', 'M12'],
      dtype='object')

In [196]:
u_df

,Temperature,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,H3,H4,H5,H6,H7,H8,H9,H10,H11,H12
0,25,3.241504,4.133242,6.186973,-6.784965,5.534823,4.523034,2.852585,-20.650455,3.522719,...,-5.710830,-0.083481,-20.288268,-27.397310,-16.256104,0.005505,-15.424310,-21.924077,-16.233513,0.049945
1,26,7.023258,8.955359,13.405108,-14.700758,11.992117,9.799906,6.180601,-44.742653,7.632559,...,-12.373466,-0.180876,-43.957914,-59.360839,-35.221558,0.011927,-33.419338,-47.502166,-35.172611,0.108215
2,27,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,-11.421661,-0.166963,-40.576536,-54.794620,-32.512208,0.011010,-30.848620,-43.848153,-32.467025,0.099891
3,28,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,-11.421661,-0.166963,-40.576536,-54.794620,-32.512208,0.011010,-30.848620,-43.848153,-32.467025,0.099891
4,29,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,-11.421661,-0.166963,-40.576536,-54.794620,-32.512208,0.011010,-30.848620,-43.848153,-32.467025,0.099891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,91,0.352201,3.260428,2.741862,7.923711,3.223196,2.404179,2.369416,12.847129,2.302012,...,1.484047,0.736896,8.937078,10.473898,12.217448,1.093461,5.405839,9.003432,5.665553,0.315044
67,92,-0.324374,3.419475,2.484145,8.255904,3.016550,2.760649,3.265478,13.383782,2.858186,...,1.093028,1.270598,8.996896,10.796190,11.638842,1.534291,5.646053,9.113369,5.148140,0.101422
68,93,-1.015912,3.521208,2.229938,8.323300,2.926405,3.002203,3.441688,13.853478,3.457761,...,0.650116,1.215604,8.696944,10.420521,11.100043,1.581174,5.563700,8.889947,4.659976,-0.390790
69,94,-2.352235,4.255075,2.468169,9.293967,2.543826,3.281762,4.370260,15.135586,4.519349,...,0.771259,2.064381,9.022399,10.827395,11.551129,2.659011,6.785174,9.567783,3.444138,-0.346838
70,95,-1.589312,2.159528,1.267702,4.446007,0.869856,1.456913,2.305878,6.983165,2.312284,...,0.560403,1.377924,4.078897,4.794846,5.168680,1.694114,3.533028,4.492922,0.761223,-0.076473

In [197]:
df_all_rows = pd.merge(u_df, b_df, how='outer')
df_all_rows

,Temperature,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
0,25,3.241504,4.133242,6.186973,-6.784965,5.534823,4.523034,2.852585,-20.650455,3.522719,...,4.683641,0.433525,6.999381,6.053481,6.556435,0.602067,4.911078,6.245077,6.564717,1.920430
1,26,7.023258,8.955359,13.405108,-14.700758,11.992117,9.799906,6.180601,-44.742653,7.632559,...,10.147889,0.939304,15.165326,13.115875,14.205609,1.304479,10.640668,13.530999,14.223554,4.160931
2,27,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,9.367283,0.867050,13.998762,12.106961,13.112870,1.204134,9.822155,12.490153,13.129434,3.840859
3,28,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,9.367283,0.867050,13.998762,12.106961,13.112870,1.204134,9.822155,12.490153,13.129434,3.840859
4,29,6.483008,8.266485,12.373945,-13.569931,11.069647,9.046067,5.705170,-41.300910,7.045439,...,9.367283,0.867050,13.998762,12.106961,13.112870,1.204134,9.822155,12.490153,13.129434,3.840859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,91,0.352201,3.260428,2.741862,7.923711,3.223196,2.404179,2.369416,12.847129,2.302012,...,2.057428,-0.159608,2.065716,1.648973,2.099490,-0.129430,2.220342,1.040915,2.690029,1.524361
67,92,-0.324374,3.419475,2.484145,8.255904,3.016550,2.760649,3.265478,13.383782,2.858186,...,1.555443,-0.219269,2.259032,1.658038,1.766390,-0.207401,1.942303,1.804620,1.801839,1.957605
68,93,-1.015912,3.521208,2.229938,8.323300,2.926405,3.002203,3.441688,13.853478,3.457761,...,1.164794,-0.259179,2.154920,1.760804,1.578340,-0.293837,1.795929,2.603945,1.209804,2.228444
69,94,-2.352235,4.255075,2.468169,9.293967,2.543826,3.281762,4.370260,15.135586,4.519349,...,0.485509,0.807262,3.182244,2.018632,0.772500,-0.663023,2.221870,4.637089,0.085308,3.854609
70,95,-1.589312,2.159528,1.267702,4.446007,0.869856,1.456913,2.305878,6.983165,2.312284,...,-0.199630,1.001354,1.970019,0.974257,-0.149047,-0.456950,1.191348,2.853315,-0.468112,2.601543

In [198]:
dataset = np.array(df_all_rows)

In [201]:
min_loc = np.argmin(dataset, axis = 0)
print(min_loc.shape)
min_loc.shape[0]

(157,)

157

In [208]:
temp = np.zeros((int(min_loc.shape[0]/12),12), dtype = float)
min_loc_np = np.zeros((min_loc.shape[0],1), dtype = float)

for i in range(1, min_loc.shape[0]):
    min_loc_np[int((i-1)/12)] = df['Temperature'][min_loc[i]]
    temp[int((i-1)/12)][int((i-1)%12)] = df['Temperature'][min_loc[i]]

temp

array([[53., 54., 54., 33., 57., 59., 58., 33., 55., 57., 57., 32.],
       [53., 53., 52., 26., 55., 54., 53., 32., 51., 52., 51., 26.],
       [40., 42., 41., 33., 44., 45., 45., 33., 45., 41., 41., 33.],
       [34., 37., 35., 94., 37., 40., 39., 33., 36., 37., 37., 39.],
       [56., 54., 57., 26., 53., 59., 49., 26., 51., 53., 54., 26.],
       [49., 49., 47., 95., 54., 52., 50., 25., 48., 49., 48., 26.],
       [36., 37., 35., 95., 38., 40., 38., 26., 35., 36., 36., 26.],
       [33., 26., 26., 54., 35., 34., 36., 36., 32., 26., 26., 42.],
       [53., 53., 51., 33., 56., 56., 56., 37., 51., 52., 54., 34.],
       [49., 49., 49., 33., 53., 53., 52., 36., 50., 50., 48., 34.],
       [44., 44., 44., 33., 48., 47., 49., 36., 44., 44., 44., 33.],
       [57., 40., 39., 41., 59., 43., 43., 95., 40., 40., 41., 93.],
       [57., 57., 57., 68., 59., 59., 59., 69., 57., 57., 57., 57.]])

In [209]:
new_row = pd.DataFrame(min_loc)
new_row = new_row.T
dict_map = {x:y for x, y in zip(df_all_rows.columns, new_row.columns)}
dict_map

{'Temperature': 0,
 'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'A6': 6,
 'A7': 7,
 'A8': 8,
 'A9': 9,
 'A10': 10,
 'A11': 11,
 'A12': 12,
 'B1': 13,
 'B2': 14,
 'B3': 15,
 'B4': 16,
 'B5': 17,
 'B6': 18,
 'B7': 19,
 'B8': 20,
 'B9': 21,
 'B10': 22,
 'B11': 23,
 'B12': 24,
 'C1': 25,
 'C2': 26,
 'C3': 27,
 'C4': 28,
 'C5': 29,
 'C6': 30,
 'C7': 31,
 'C8': 32,
 'C9': 33,
 'C10': 34,
 'C11': 35,
 'C12': 36,
 'D1': 37,
 'D2': 38,
 'D3': 39,
 'D4': 40,
 'D5': 41,
 'D6': 42,
 'D7': 43,
 'D8': 44,
 'D9': 45,
 'D10': 46,
 'D11': 47,
 'D12': 48,
 'E1': 49,
 'E2': 50,
 'E3': 51,
 'E4': 52,
 'E5': 53,
 'E6': 54,
 'E7': 55,
 'E8': 56,
 'E9': 57,
 'E10': 58,
 'E11': 59,
 'E12': 60,
 'F1': 61,
 'F2': 62,
 'F3': 63,
 'F4': 64,
 'F5': 65,
 'F6': 66,
 'F7': 67,
 'F8': 68,
 'F9': 69,
 'F10': 70,
 'F11': 71,
 'F12': 72,
 'G1': 73,
 'G2': 74,
 'G3': 75,
 'G4': 76,
 'G5': 77,
 'G6': 78,
 'G7': 79,
 'G8': 80,
 'G9': 81,
 'G10': 82,
 'G11': 83,
 'G12': 84,
 'H1': 85,
 'H2': 86,
 'H3': 87,
 'H4': 88,
 'H5': 89,
 'H6': 90,
 'H7': 91,
 'H8': 92,
 'H9': 93,
 'H10': 94,
 'H11': 95,
 'H12': 96,
 'I1': 97,
 'I2': 98,
 'I3': 99,
 'I4': 100,
 'I5': 101,
 'I6': 102,
 'I7': 103,
 'I8': 104,
 'I9': 105,
 'I10': 106,
 'I11': 107,
 'I12': 108,
 'J1': 109,
 'J2': 110,
 'J3': 111,
 'J4': 112,
 'J5': 113,
 'J6': 114,
 'J7': 115,
 'J8': 116,
 'J9': 117,
 'J10': 118,
 'J11': 119,
 'J12': 120,
 'K1': 121,
 'K2': 122,
 'K3': 123,
 'K4': 124,
 'K5': 125,
 'K6': 126,
 'K7': 127,
 'K8': 128,
 'K9': 129,
 'K10': 130,
 'K11': 131,
 'K12': 132,
 'L1': 133,
 'L2': 134,
 'L3': 135,
 'L4': 136,
 'L5': 137,
 'L6': 138,
 'L7': 139,
 'L8': 140,
 'L9': 141,
 'L10': 142,
 'L11': 143,
 'L12': 144,
 'M1': 145,
 'M2': 146,
 'M3': 147,
 'M4': 148,
 'M5': 149,
 'M6': 150,
 'M7': 151,
 'M8': 152,
 'M9': 153,
 'M10': 154,
 'M11': 155,
 'M12': 156}

In [216]:
def Average(lst):
    return sum(lst) / len(lst)

pWT = ['1','2','3','4']
p209 = ['5','6','7','8']
p243 = ['9','10','11','12']
protein = [pWT, p209, p243]

meth = ['A','B','C','D']
ethy = ['E','F','G','H']
dmso = ['I','J','K','L']
organic_sol = [meth, ethy, dmso]

pWT_meth = [['A1','A2','A3'],['B1','B2','B3'],['C1','C2','C3'],['D1','D2','D3'],['A4','B4','C4']]
pWT_ethy = [['E1','E2','E3'],['F1','F2','F3'],['G1','G2','G3'],['H1','H2','H3'],['E4','F4','G4']]
pWT_dmso = [['I1','I2','I3'],['J1','J2','J3'],['K1','K2','K3'],['L1','L2','L3'],['I4','J4','K4']]

data = []
for col in range(3):
    protein_trial = []
    for row in range(3):    
        
        lab_set = []
        
        trials = []
        for i in range(3):
            path = 'M' + protein[col][i]
            trials.append(df['Temperature'][min_loc[dict_map[path]]])
            lab_set.append(df['Temperature'][min_loc[dict_map[path]]])
        lab_set.append(Average(trials))

        for i in range(4):
            trials = []
            for j in range(3):
                path = organic_sol[row][i] + protein[col][j]
                trials.append(df['Temperature'][min_loc[dict_map[path]]])
                lab_set.append(df['Temperature'][min_loc[dict_map[path]]])
            lab_set.append(Average(trials))
        
        trials = []
        for i in range(3):
            path = organic_sol[row][i] + protein[col][3]
            trials.append(df['Temperature'][min_loc[dict_map[path]]])
            lab_set.append(df['Temperature'][min_loc[dict_map[path]]])
        lab_set.append(Average(trials))
        
        data.append(lab_set)

AttributeError: 'list' object has no attribute 'shape'

In [221]:
columns_name = ['0','0','0','0_avg','5', '5', '5', '5_avg', '10', '10', '10', '10_avg', '20', '20', '20', '20_avg', '30', '30', '30', '30_avg', '40', '40', '40', '40_avg']

result_df = pd.DataFrame(data, columns = columns_name)
result_df

,0,0,0,0_avg,5,5,5,5_avg,10,10,...,20,20_avg,30,30,30,30_avg,40,40,40,40_avg
0,57,57,57,57.0,53,54,54,53.666667,53,53,...,41,41.000000,34,37,35,35.333333,33,26,33,30.666667
1,57,57,57,57.0,56,54,57,55.666667,49,49,...,35,36.000000,33,26,26,28.333333,26,95,95,72.000000
2,57,57,57,57.0,53,53,51,52.333333,49,49,...,44,44.000000,57,40,39,45.333333,33,33,33,33.000000
3,59,59,59,59.0,57,59,58,58.000000,55,54,...,45,44.666667,37,40,39,38.666667,33,32,33,32.666667
4,59,59,59,59.0,53,59,49,53.666667,54,52,...,38,38.666667,35,34,36,35.000000,26,25,26,25.666667
5,59,59,59,59.0,56,56,56,56.000000,53,53,...,49,48.000000,59,43,43,48.333333,37,36,36,36.333333
6,57,57,57,57.0,55,57,57,56.333333,51,52,...,41,42.333333,36,37,37,36.666667,32,26,33,30.333333
7,57,57,57,57.0,51,53,54,52.666667,48,49,...,36,35.666667,32,26,26,28.000000,26,26,26,26.000000
8,57,57,57,57.0,51,52,54,52.333333,50,50,...,44,44.000000,40,40,41,40.333333,34,34,33,33.666667

In [220]:
result_df.to_csv('OPD_Result_Analysis.csv')